

/* Style the header */
.header {
  padding: 10px 16px;
  color: white;
}

#title {
  text-align: center;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.stickyHeader {
    background-color: grey;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;

}
.login {
  width: 20%;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
.headertext {
  position: center;
  color: #4CAF50;
}
/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

.back{
  width: 10%;
  position: left;
  padding-left: 3px;
  padding-top: 2px;
}
#create_new {
  max-width: 900px;
  align-self: center;

}

.profile {
  max-width: 60px;
  max-height:40px;
  background-color: beige;
  padding-right: 3px;
  padding-top: 2px;
}
.col-md-4 {
text-align: center;
}
#score {
    height: 80px;
    width: 70px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border-top: 0px;
}
#stats {
  list-style-type: none;
  background-color: #555555;
}
li {
  padding-left: 5px;
  padding-right: 5px;
  float: center;
}
li a {
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
li a:hover {
  background-color: #111111;
}
#back_button {
  text-align: left;
  padding-left: 4px;
}
#location_card {
  text-align: left;
}
#notes {
  border-color: #555555;
  border-style: solid;
  border-width: 1px;
}
#character_overview {
  background-image: url('../party.jpg');
  background-size: cover;
}
/*TODO POSITION IN BOTTOM LEFT CORNER*/
a.card-link {

}
.card-body {
  width: flex;
  height: 209px;
  max-height: 209px;
}
#world_overview {
  background-image: url('../NSZcZIii07NgpnYTwuwdmBjhPEwIpo_NcoKE7cRDeM0.jpg');
}
#location_overview {
  background-image: url('../784590c151c5021f15f1d61c99d47b16.png');
}
#character_name {
  color: #cccccc;
  width: auto;
}
#note {
  margin-bottom: 5px;
  margin-top: 5px;
}
#logout_button {
  margin-right: 2px;
}
#creation_date {
  text-align: right;
  padding-right: 3px;
}
#players {
  width: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: #555555;
}
#profile_buttons {
  text-align: right;
  padding-right: 4px;
}
#note {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #cccccc;
}
#stat {
  text-align: left;
  padding-left: 2px;
  width: 70px;
}
div {
  border-style: solid;
  border-color: red;
}

.py-3 {
    background-color: gray;
    margin-bottom: 0px;
    margin-top: 0px;
}