{% extends "header.html" %}
{% block title %}{{ character.name }} Overview{% endblock %}
{% block header %}{{ character.name }} Overview{% endblock %}
{% block body %}
<main role="main" class="container">
    <div class="col" id="overview">
        <div class="row mb-2">
            <div class="header">{{ character.name }}</div>
        </div>
        <div class="row md-2">
            <div class="container-md">description of the character. + picture</div>
        </div>
        <div class="container" id="stats">
<!--            Stats for the character go here.-->
        </div>
        <div class="row">
            <div class="col md-8 blog-main" id="notes">
                {% if notes %}
                    {% for note in notes %}
                        <div class="blog-post">
                            <h3 class="blog-post-title">note title?</h3>
                            <p class="blog-post-meta">time of creation goes here.</p>
                            <hr>
                            <p class="blog-post-text">{{ note.text }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col md-8 blog-main">
                <div class="container" id="new_note">

                    <form onsubmit="createNote()">
                          <div class="form-group">
                            <label for="note_text">Create Note</label>
                            <textarea name="note_text" class="form-control" id="note_text" rows="3"></textarea>
                              <input type="hidden" id="world_id" value="{{ world.id }}">
                              <input type="hidden" id="note_type" value="character">
                              <input type="hidden" id="character_id" value="{{ character.id }}">
                              <button type="submit">Create Note</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function createNote(event) {
        event.preventDefault();

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function() {

        if (this.readyState == 4 && this.status == 200) {
                console.log(this);
<!--            form veld leegmaken, niet herladen, maar wel die nieuwe note weergeven , niet alleen id notes overshrijven maar nieuwe erbij plakken. -->
                document.getElementById("note_text").value = ""
                const returned_note = document.createElement("p")
                    returned_note.innerText = this.responseText
                document.getElementById("submitted_notes").prepend(returned_note)
       }
    };
    xmlhttp.open("POST", "/create_note", true);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify([document.getElementById("note_text").value, document.getElementById("note_type").value,
        document.getElementById("world_id").value, document.getElementById("character_id").value]));
   }
</script>
{% endblock %}