{% extends "header.html" %}
{% block title %}Create New World{% endblock %}
{% block header %}Create New World{% endblock %}
{% block body %}
<div class="text-center">
    <form id="create_new" method="post">
        <h2 class="h3 mb-3 font-weight-normal">Create New World</h2>

        <input type="text" id="name" placeholder="World Name" autocomplete="off" name="world_name">
        <input type="text" id="description" placeholder="Description" autocomplete="off" name="description">
        <button value="submit">Create</button>
    </form>
</div>
{% endblock body %}