<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}{% endblock title %} - NoteWorld</title>
    </head>
    <body>

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" id="stickyHeader">

            <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <button class="btn btn-primary" onclick="goBack()" id="back_button">Go Back</button>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" id="title"><a href="{{ url_for('index') }}">Index</a>&nbsp;&nbsp;{% block header %}{% endblock header %}</ul>
            <div class="col-md-4 text-end" id="profile_buttons">
                <h2>{{ session['username'] }}</h2>
                {% if current_user.is_anonymous %}
                    <a href="/login" class="btn btn-primary">Login</a>
                {% else %}
                    <div class="col-sm"><a href="{{ url_for('profile', user_id=current_user.id) }}">{{ current_user.username }}</a></div>
                {% endif %}
                <div class="col-sm">
                    <a href="/logout">Log Out</a>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
        <div container id="message">
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            </div>
        {% endwith %}

        {% block body %} {% endblock body %}




    <script>

        function goBack() {
          window.history.back();
        }
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
        </script>
    </body>
</html>