<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet.css') }}">
        <title>{% block title %}{% endblock title %} - NoteWorld</title>
    </head>
    <body>
        <div class="header" id="stickyHeader">
            <h3>{% block header %}{% endblock header %}</h3>
        </div>
        {% block body %} {% endblock body %}
    <script>
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
          if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
          } else {
            header.classList.remove("sticky");
          }
        }
        </script>
    </body>
</html>