{% extends "header.html" %}
{% block title %}Homepage{% endblock %}
{% block header %}
Homepage
{% endblock %}
{% block body %}
{% if worlds %}
    <div class="container-md" id="worlds">
        {% for world in worlds %}
            <div class="container-fluid" id="world">
                <a href="{{ url_for('world', world_id=world.id }}"><h3>{{ world.title }}</h3></a>
                <h4>{{ world.description }}</h4>
            </div>
        {% endfor %}
        <div class="container-md" id="create_new_world">
            <button value="create_new_world" action="/create_new" method="get">Create new world</button>
        </div>
    </div>
{% endif %}

{% endblock %}
