{% extends "header.html" %}
{% block title %}Homepage{% endblock %}
{% block header %}
Homepage
{% endblock %}
{% block body %}
<main role="main" class="container">
    <div class="title"><h3>Your Worlds</h3></div>
    <div class="album py-5 bg-light" id="worlds">
        <div class="container" id="world_list">
            <div class="row">
                <div class="col-md-4" id="card_col">
                    <div class="card" style="width: 18rem;" id="new_card">
                      <div class="card-body">
                        <h5 class="card-title">New World</h5>
                        <a href="{{ url_for('new_world') }}" class="card-link">Create New World</a>
                      </div>
                    </div>
                </div>
                {% if worlds %}
                    {% for world in worlds %}
                        <div class="col-md-4" id="card_col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body" id="world_card">
                                    <h5 class="card-title">{{ world.name }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">By: {{ world.creator.username }}</h6>
                                    <p class="card-text">{{ world.description }}</p>
                                    <a href="{{ url_for('world', world_id=world.id) }}" class="card-link">View</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
