{% extends "header.html" %}
{% block title %} Log In {% endblock %}
{% block header %}Log In{% endblock %}
{% block body %}

    <form method="post">
      <h2>Login Form</h2>
      <div class="container">
        <label for="username"><b>Username</b></label>
        <input autocomplete="off" autofocus type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button class="login" type="submit">Login</button>
      </div>
        <div class="container">
            <h4>Not a member yet? <a href="{{url_for('register')}}">Register here!</a></h4>
        </div>
    </form>

{% endblock body %}