{% extends "header.html" %}
{% block title %}Create New Character{% endblock %}
{% block header %}Create New Character{% endblock %}
{% block body %}
<div class="text-center">
    <form id="create_new" method="post">
        <h2 class="h3 mb-3 font-weight-normal">Create New Character</h2>

        <input type="text" id="world_name" placeholder="Character Name" autocomplete="off" name="character_name">
        <input type="text" id="description" placeholder="Description" autocomplete="off" name="description">
        <button value="submit">Create</button>
    </form>
</div>
{% endblock body %}