{% extends "header.html" %}
{% block title %}Create New Character{% endblock %}
{% block header %}Create New Character{% endblock %}
{% block body %}
<div class="text-center">
    <form id="create_new" method="post">
        <h2 class="h3 mb-3 font-weight-normal">Create New Character</h2>

        <input type="text" id="world_name" placeholder="Character Name" autocomplete="off" name="character_name">
        <input type="text" id="description" placeholder="Description" autocomplete="off" name="description">
        <input id="world_id" value="world.id" type="hidden">
        <div class="col-xs-2">
            <label for="str">Strength</label>
            <input class="form-control" id="str" type="text">
        </div>
        <div class="col-xs-2">
            <label for="con">Constitution</label>
            <input class="form-control" id="con" type="text">
        </div>
        <div class="col-xs-2">
            <label for="dex">Dexterity</label>
            <input class="form-control" id="dex" type="text">
        </div>
        <div class="col-xs-2">
            <label for="int">Intelligence</label>
            <input class="form-control" id="int" type="text">
        </div>
        <div class="col-xs-2">
            <label for="wis">Wisdom</label>
            <input class="form-control" id="wis" type="text">
        </div>
        <div class="col-xs-2">
            <label for="cha">Charisma</label>
            <input class="form-control" id="cha" type="text">
        </div>
          <div class="form-group row">
            <div class="col-sm-2">Check if this is your Character</div>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="PC" value="PC">
                <label class="form-check-label" for="PC">
                  Your Player Character
                </label>
              </div>
            </div>
          </div>
        <button value="submit">Create</button>
    </form>
</div>
{% endblock body %}