{% extends "header.html" %}
{% block title %}{{ user.username }} Profile{% endblock %}
{% block header %}{{ user.username }} Profile{% endblock %}
{% block body %}
<main role="main" class="container">
    <div class="col" id="profile">
        <div class="row mb-2">
            <div class="header">{{ user.username }}</div>
        </div>
        <div class="col md-8 blog-main" id="notes">
            <div class="row" style="padding-left: 3px;">
                <h3>Notes</h3>
            </div>
            <hr>
            {% if notes %}
                {% for note in notes %}
                    <div class="blog-post" id="note">
                        <div>
                            <div class="col-sm">
                                {% if note.location_id %}
                                    <h5>Note at: {{ note.location_id }}</h5>
                                {% elif note.character_id %}
                                     <h5>Note at: {{ note.character_id }}</h5>
                                {% endif %}
                            </div>
                            <p class="blog-post-meta" id="creation_date">{{ note.creation_date }}</p>
                        </div>
                        <hr>
                        <p class="blog-post-text">{{ note.text }}</p>
                    </div>
                {% endfor %}
            {% endif %}

    </div>
</main>
{% endblock %}