{% extends "header.html" %}
{% block title %}Register{% endblock %}
{% block header %}Register{% endblock %}
{% block body %}
<div class="text-center">
<form action="/register" id=register method="post" class="form-signin">
  <h2>Register</h2>
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input autocomplete="off" autofocus type="text" placeholder="Username" name="username" class="form-control" id="inputUsername" required>
    <label for="email"><b>E-mail</b></label>
    <input type="text" placeholder="E-mail" name="email" class="form-control" id="inputEmail" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" class="form-control" id="inputPassword" required>

    <button type="submit" value="register">Register</button>
  </div>
</form>
</div>
{% endblock body %}