{% extends "header.html" %}
{% block title %}Register{% endblock %}
{% block header %}Register{% endblock %}
{% block body %}
<form id=register method="post">
  <h2>Register</h2>
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input autocomplete="off" autofocus type="text" placeholder="Username" name="username" required>
    <label for="email"><b>E-mail</b></label>
    <input type="text" placeholder="E-mail" name="email" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" value="register">Register</button>
  </div>
</form>
{% endblock body %}