{% extends "header.html" %}
{% block title %}{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <div class="container" id="world_overview">


        <div class="row mb-2">
            description of the location. + picture
        </div>
        <main role="main" class="container">
            <div class="row">
                <div class="col md-8 blog-main">
                    {% if notes %}
                        {% for note in notes %}
                            <div class="blog-post">
                                <h3 class="blog-post-title">title goes here.</h3>
                                <p class="blog-post-meta">time of creation goes here.</p>
                                <hr>
                                <p class="blog-post-text">text goes here.</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col md-8 blog-main">
                    <div class="container" id="new_note">
                        <form method="post">
                              <div class="form-group">
                                <label for="exampleFormControlTextarea1">Example textarea</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
    </div>
{% endblock body %}