{% extends "header.html" %}
{% block title %}{{ world.name }} Overview{% endblock %}
{% block header %}{{ world.name }} Overview{% endblock %}
{% block body %}
<main role="main" class="container">
    <div class="container" id="overview">
        <div class="row mb-2">
            <div class="header" width="fluid">{{ world.name }}</div>
        </div>
        <div class="row md-2">
            <div class="container-md">description of the location. + picture</div>
        </div>
        <div class="row" id="locations/characters">
            <div class="col md-8 blog-main" id="location_list">
                {% if locations %}
                    {% for location in locations %}
                        <div class="blog-post" id="location">
                            <a href="{{ url_for('location', location_id=location.id) }}"<h3 class="blog-post-title">{{ location.name }}</h3></a>
                            <hr>
                            <p class="blog-post-text">Location description</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col md-8 blog-main">
                <a href="{{ url_for('new_location') }}"><h4>Create new Location</h4></a>
            </div>
            <div class="col md-8 blog-main" id="character_list">
                {% if characters %}
                    {% for character in characters %}
                        <div class="blog-post" id="character">
                            <a href="{{ url_for('character', character_id=character.id) }}"<h3 class="blog-post-title">{{ character.name }}</h3></a>
                            <hr>
                            <p class="blog-post-text">Character description</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="col md-8 blog-main">
                <a href="{{ url_for('new_character') }}"><h4>Create new Character</h4></a>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    fuction submitNote() {

    }
</script>
{% endblock body %}